<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <%- include('../partials/head') %>
</head>

<body style="height:100%">
  <div id='login-bg' style="height: 100%;
                            background-image: url('../../../static/login-background.jpg'); 
                            background-size: cover;
                            ">
    <header>
      <%- include('../partials/nav', {email: user.email}) %>
    </header>
      <div id="profile-setting-box" style="background-color: #e5e5e5; 
                                opacity: 100%;
                                height: 70%;
                                width: 50%;
                                position: relative;
                                top:15%;
                                left:25%;
                                ">
        <div style="height:80%;
                    width: 80%;
                    position: relative;
                    top:10%;
                    left: 10%">
          <h1 class="title is-4" style="text-align: center" >Profile Setting</h1>
          <div>
            <form action="/addProfile" id="profile-setting-form" method="POST">

              <input type="hidden" name="email" value= "<%= user.email%>">

              <label>
                First name
              </label>
              <div>
                <input required type="text" name="firstName" value='<%= user_info.firstName%>' class="input"/>
              </div>
              <div style="margin-top: 1em; margin-bottom: 2em">

              <label>
                Last name
              </label>
              <div>
                <input required type="text" name="lastName" value='<%= user_info.lastName%>' class="input"/>
              </div>
              <div style="margin-top: 1em; margin-bottom: 2em">
  
              <label>
                Prefered Travel Mode
              </label>
              <div>
                <input required type="text" name="preferedMode" value='<%= user_info.preferredMode%>' class="input"/>
              </div>
              <div style="margin-top: 1em; margin-bottom: 2em">

              <div>
                <label class="checkbox">
                  <input type="checkbox">
                  Want Extra Safe Route?
                </label>
              </div>

              <div style="margin-top: 1em; margin-bottom: 2em">
              </div>

              <button class="button" type="submit" style="background-color: #3F8ABE; 
                                            width:100%;
                                            color: #FFFFFF">
                Update Profile
              </button>
            </form>
          </div>
        </div>
      </div>
  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>


</html>